 output 
      /* Tailwind CSS v3.3.2 - MIT License - https://tailwindcss.com */
      /* Reset */
      *, ::before, ::after {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;